.banner{
	width:100%;
	height: 570px;
	background: url("../img/product_banner.jpg") no-repeat center;
}
.service,.queuing_title,.queuing_box{
	width:1000px;
	margin:0 auto;
}
.weixin_order {
	height: 800px;
}
.order_img{
	width:532px;
	float:left;
}
.order_img img{
	padding: 138px 0 0 170px;
}
.order_info{
	float: left;
	width:463px;
	padding-top: 192px;
}
 h2{
	font: 38px "simhei";
	font-weight: normal;
}
.order_info p{
	width:305px;
	line-height: 28px;
	font-size: 16px;
	color: #7C8189;
}
.weixin_pay,.marketing_tool,.wei_web{
	height:800px;
	padding-top: 95px;
}
.weixin_pay_info{
	width:300px;
	float: left;
	padding: 200px 10px 0px 190px;
	overflow: hidden;
}
.weixin_pay_info h2{
	height: 50px;
	line-height:50px;
	background: url("../img/confirm-pay.png") no-repeat 160px top;
	margin-top: 20px;
}
.weixin_pay_info p{
	margin-top: 20px;
	width:300px;
	line-height: 28px;
	font-size:18px;
	color: #7C8189;
}
.weixin_pay .weixin_pay_img{
	width:436px;
	float: left;
}
.marketing_tool h2,.wei_web h2{
	text-align: center;
}
.marketing_tool p,.wei_web p{
	width:520px;
	line-height: 30px;
	font-size: 18px;
	margin: 15px auto;
	color:#7C8189 ;
	text-align: center;
}
.marketing_tool_img{
	width:764px;
	margin:90px auto;
}
.wei_web_img {
	width:908px;
	margin:90px auto;
}
.wei_kf{
	height:800px;
}
.wei_kf_img{
	width:538px;
	float: left;
	margin-top: 76px;
}
.wei_kf_info{
	width:280px;
	float: left;
	margin: 245px 35px;
}
.wei_kf_info p{
	margin: 12px 0 30px;
	font-size: 18px;
	line-height: 30px;
	color:#7C8189 ;
}
.service_btn{
	width:800px;
	margin:0 auto;
}
.service_btn span{
	float: left;
	width: 158px;
	height:30px;
	line-height: 30px;
	font-size: 16px;
	color: #7C8189;
	text-align: center;
	border: 1px solid #CFD2D9;
	cursor: pointer;
}
.club_introduce{
	width:100%;
	height: 900px;
	margin-top: 68px;
	background: url("../img/membership_card.jpg") no-repeat center;
}
.club_introduce .club_introduce_list{
	width:1000px;
	margin: 0 auto;
	position: relative;

}
.club_introduce .club_introduce_list .club_card{
	width:435px;
	text-align: center;
	position: absolute;
	left: 105px;
	top:360px;
}
.club_introduce .club_introduce_list .club_card span{
	font-size: 35px;
	color: #fff;
}
.club_introduce .club_introduce_list .club_card p{
	margin-top: 20px;
	line-height: 30px;
	font-size: 20px;
	color: #fff;
}
.club_introduce .club_introduce_list .club_img{
	position: absolute;
	right: 75px;
	top: 270px;
}
.queuing_title{
	margin-top: 80px;
	text-align: center;
}
.queuing_title span{
	font-size: 30px;
	color: #2A2E31;
}
.queuing_title p{
	width:700px;
	line-height: 30px;
	margin: 18px auto;
	font-size: 18px;
	color: #7C8189;
}
.queuing_box{
	height:661px;
	margin-top: 50px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	/*overflow: hidden;*/
}
.queuing_left_list,.queuing_right_list{
	height: 80px;
	color: #7C808C;
	margin-top: 100px;
}
.queuing_left_list span,.queuing_right_list span{
	font-size:15px;
}
 .queuing_left_list{
	 float: left;
	 text-align: right;
}
 .queuing_right_list{
	 float: right;
	 text-align: left;
 }
.queuing_left_list img{
	float: right;
	margin: -20px -93px 0 0 ;
}
.queuing_right_list img{
	float: left;
	margin: 0 0 0 -93px ;
}
.management_system{
	height: 900px;
	background: url(../img/restaurant.jpg) no-repeat center;
}
.system_description{
	width: 1000px;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
	color: #fff;
}
.system_description h2{
	font-weight: normal;
}
.system_description p{
	width: 800px;
	padding-top: 20px;
	line-height: 30px;
	margin: 0 auto;	
	font-size: 20px;
}
.more_content{
	height: 425px;
	background: #f1f6f9;
	text-align: center;
}
.more_content p{
	font-size: 24px;
	color: #454545;
	padding-top: 130px;
}
.more_content a{
	display: block;
	margin-top: 50px;
	padding: 20px 60px;
	border-radius: 50px;
	font-size: 27px;
	color: #fff;
	background: url(../img/big_normal.png) no-repeat center;
}